*{
	box-sizing:border-box;
}

html, body{
	width: 100%;
	height: 100%;
	margin:0;
}

#menu{
	
}



#menu > li{

	width: 7%;
	font-size: 180%;

	position: relative;

}


#menu{
	display: flex;
	justify-content: space-around;
	list-style:none;

	width: 100%;
	background-color:#483D8B;
	
}

#port{
	color:#99ddff;
}



#menu ul {
 position: absolute;
 display:none;
 top:100%;
 left:0;
 padding:0;
 z-index: 10;
 list-style:none;

}

#menu li:hover > ul {
	display: block;
}

#menu li>ul li:hover {
	background-color : #99ddff;
}

#menu li>ul li {
	background-color : #483D8B;
}

#SeccionFoto{
	height: 100%;
	width: 100%;
	
	
	position: relative;
	
	


}

#contacto{
	height: 50%;
	width: 100%;
	position: absolute;
	text-align:left;
  
	
	
}

header{
	text-align:left;
	
	
}

header img{
	
	width:20%;
	position: relative;
	left: 10%;

}

nav{

	height: 20%;
	display: flex;
	align-items:center;
}

#Texto{
	margin:0;
	width:20%;
	display: flex;
	align-content: center;
	font-size: 140%;
}

#foto1{

	
	top:0%;
	left:50%;
	width:100%;
	height:100%;
	text-align:left;
	
}



	

.capaAuxTexto p{
	margin: 0;
}

a:link {
    color: #00BFFF;
}

a:visited {
    color:#00BFFF;
}

a:hover {
    color: #00BFFF;
}

a:active {
    color: #00BFFF;

}